[submodule "firmware/lib/pico-sdk"]
	path = firmware/lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk

[submodule "firmware/lib/tinyusb"]
	path = firmware/lib/tinyusb
	url = https://github.com/hathach/tinyusb
