[submodule "firmware/lib/pico-sdk"]
	path = firmware/lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk

[submodule "firmware/lib/tinyusb"]
	path = firmware/lib/tinyusb
	url = https://github.com/hathach/tinyusb

[submodule "firmware/lib/FreeRTOS-Kernel"]
	path = firmware/lib/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
[submodule "firmware/lib/doxygen-awesome-css"]
	path = firmware/lib/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
